<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/2f4c7d1789.js"></script>
    <title>TODO APP</title>
</head>

<script type="text/javascript">
    function createTodoField() {
        let todo = document.getElementById("todo");
        if (!todo.hasChildNodes()) {
            var form = document.createElement("form");
            form.setAttribute('method', "post");
            form.setAttribute('action', "/todo/createTodo");

            var input = document.createElement("input");
            input.setAttribute('type', "text");
            input.setAttribute('name', "newTodo");

            var submit = document.createElement("input");
            submit.setAttribute('type', "submit");
            submit.setAttribute('value', "Submit");

            form.appendChild(input);
            form.appendChild(submit);
            todo.appendChild(form);
        }
    }

    function updateTodo(id) {
        checkbox = document.getElementById(id);
        checkbox.value = checkbox.checked
        document.getElementById("todo" + id).submit();
    }

    function deleteTodo(id) {
        $.ajax({
            url: '/todo/deleteTodo/' + id,
            method: 'delete',
        })
    }
</script>

<body style="background-color: rgb(245, 245, 245);">
    <nav class="navbar navbar-dark bg-primary">
        <div style="display: flex; justify-content: flex-end; width: 100%;">
            <div><a href="/todo/logout" style="text-decoration: none; color: white;">Logout</a></div>
        </div>
    </nav>
    <div class="container">
        <div style="margin: 10%;">
            <center>
                <h1>Your TO-DOs</h1>
            </center>
        </div>
        <div style="margin: 10%;">
            <div id="todo">
                <form action="/todo/createTodo" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="newTodo" id="" placeholder="What you gonna do today?"
                            class="form-control" required>
                        <div class="input-group-append"><input type="submit" value="Add TO-DO"
                                class="btn btn-outline-secondary"></div>
                    </div>
                </form>
            </div>
            {{with $1 := .Todos}}
            <div>
                {{range $1}}
                <ul class="list-group">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                        <form action="/todo/updateTodo/{{.ID}}" method="POST" id="todo{{.ID}}">
                            <div style="display: flex; flex-direction: row;">
                                <div style="margin: 10px;">
                                    <input type="checkbox" id={{.ID}} name="todoCheckbox" value="{{.Done}}" {{if .Done}}
                                        checked {{end}} onchange="updateTodo(id)">
                                </div>
                                <div style="margin: 10px;">
                                    <label>{{.Description}}</label>
                                </div>
                                <div style="position: absolute; right: 20px;">
                                    <button class="btn btn-danger" onclick="deleteTodo(`{{.ID}}`)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>